---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Community from '../components/Community.astro';
import Blog from "../components/Blog.astro";
import Newsletter from "../components/Newsletter.astro";

import logo from "../assets/logo.svg";

import face from '../assets/icons/face.svg'
import insta from '../assets/icons/insta.svg'
import twitter from '../assets/icons/twitter.svg'
import yt from '../assets/icons/yt.svg'
---

<Layout title="Rocketseat old website">
  <header class="bg-rocketseat">
    <div class="max-w-[64rem] mx-auto p-5">
      <nav class="flex items-center">
        <a href="#" class="flex items-center gap-7 mr-7">
          <img src={logo.src} alt="" />
          <div class="w-px bg-white h-6 opacity-50"></div>
        </a>

        <ul class="hidden md:flex items-center gap-4">
          <li class="font-bold uppercase text-white hover:border-b-4">
            <a href="#">Início</a>
          </li>
          <li class="font-bold uppercase text-white hover:border-b-4">
            <a href="#">Cursos</a>
          </li>
          <li class="font-bold uppercase text-white hover:border-b-4">
            <a href="#">Treinamento</a>
					</li>
					<li class="font-bold uppercase text-white hover:border-b-4">
						<a href="#">Blog</a>
					</li>
        </ul>

				<ul class="hidden md:flex items-center gap-4 ml-auto">
					<li class="w-5 h-5 flex items-center justify-center">
						<a href="#">
							<img src={face.src}  alt="">
						</a>
					</li>
					<li class="w-5 h-5 flex items-center justify-center">
						<a href="#">
							<img src={insta.src}  alt="">
						</a>
					</li>
					<li class="w-5 h-5 flex items-center justify-center">
						<a href="#">
							<img src={twitter.src}  alt="">
						</a>
					</li>
					<li class="w-5 h-5 flex items-center justify-center">
						<a href="#">
							<img src={yt.src}  alt="">
						</a>
					</li>
				</ul>
      </nav>
    </div>
  </header>

	<Hero></Hero>
	<About></About>
	<Community></Community>
	<Blog></Blog>
	<Newsletter></Newsletter>

	<footer class="font-bold text-gray-700 text-center py-6 md:py-12">
		© 2018 - Rocketseat
	</footer>
</Layout>
